/****************************
	GENERAL
*****************************/ 

 body {
	  background-color: #f5f5dc;
	  font-family: 'Consolas', sans-serif;
  }
  
  ul {list-style-type: none;}
  
  a {text-decoration: none;}
  
  #wrapper {
	max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0px;
  }
  
  header, footer {
	background-color: #369f4b;
}
	  
.clear {
	clear: both;
	visibility: hidden;
}
/****************************
	HEADER
*****************************/
   
  header {
	  overflow: hidden;
	  margin-bottom: 30px;
	  padding-top: 30px;
	  padding-bottom: 30px;
  }
  
  #site-branding {
    float: left;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 10px;
	text-align: center;
}

 h1, h2 {
	 color: #f5f5dc;
	 float:left;
 }
 
 h1 {
  margin: 5px 0 0;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 4px solid #57c66d;
  margin-right: 30px;
}

h2 {
  font-size: 1.25em;
  margin: 10px 0 0;
  font-weight: normal;
    margin-bottom: 30px;
   /*  padding-left: 30px; */
    padding-right: 30px;
}
 
/****************************
	GALLERY
*****************************/	
	  
.gallery {
	width: 97%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* .gallery .blogpost {
	/* display: inline-block; 
	padding: 8px;
	background:#f5f5dc ;
	border:3px double #369f4b  ;
	margin:10px;
	height: 200px;
	width: 220px;
	text-align: center;
} */

a:hover {
	color: #000;
	transition: all 0.3s ease-out;
}

.blogpost {
    overflow: hidden;
    position: relative;
		/* max-width: 14em; 
		max-height: 14em; */
	height: 200px;
	width: 240px;
    /* padding: 8px;	 */
    background-size: cover;
    background-position: center;
	transition: all .2s ease-in-out;
	/* text-align: center; */
	 float: left;
	 border: 1px solid #1e4e0f;
	 margin: 2.5%;
	  border-radius: 5%;
}

.blogpost img {
	width: 100%;
}	  

.blogpostoverlay {
    /* position: absolute; */
    background-color: #57c66d;
	border-radius: 5%;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
	top: 0px;
    opacity: 0;
}
.blogpostoverlay:hover {
	opacity: 0.9;
	transition: all 0.5s ease-out;
}	  
h3.blogposttitle {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 2px;
    left: 10px;
}	  
 
/****************************
	FOOTER
*****************************/
	
footer {
	/* background-color: #292925 ; */
	color: #f5f5dc;
	overflow: hidden;
	margin-top: 30px;
	padding: 20px;
}
	  	  
#primary {
	width: 50%;
	float:left;
}
	  
#secondary {
	width: 40%;
	float:right;
} 

form {
	color: #f5f5dc;
	
}
.inform {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px; 
}

#secondary a {
	color: #292925 ;
}

#secondary a:hover {
	text-decoration: underline;
	color: #292925 ;

}

.contact-info {
	display: table;
}	  

span.skype {
	display: table-cell;
	margin:0;
	padding:0;
}

div#SkypeButton_Call_azarica_1 {
	display: table-cell;
}

p#SkypeButton_Call_azarica_1_paraElement {
	margin:0;
	padding:0;
}
@media screen and (max-width: 680px) {
	#primary {
		width: 100%;
	}
	#secondary {
		width: 100%;
	}
	
	.inform {
	font-size: 16px;
	font-weight: normal;
	/* margin-bottom: 10px; */ 
}
}


/****************************
	OVERLAY
*****************************/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
 
    position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 /* margin-top: 8%; */
 /* max-width: 780px;  */
 height: 200px;
 width: 200px;
 float: left;
 margin: 10px;
 border: 1px solid #57c66d;
 border-radius: 5px;
}


#container {
	width: 50%;
	 min-width: 220px;
	margin: 0 auto;
	margin-top: 8%;
	padding: 10px;
	background-color: #f5f5dc;
	color: black;
	text-align: left;
	border-radius: 5px;
	border: 8px groove #57c66d;
}

.vizit {
	margin-top: 0;
	color: DarkGreen;
	font-weight: 600;
	text-align: center;
}

.vizit a {
	color: #184823;
	background-color: #b7e6c1;
	border: 1px solid #184823;
	border-radius: 5px;
	padding: 6px;
}

.vizit a:hover {
	color: #257035;
}